@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINESeedJP';
  src: url('../font/LINESeedJP_A_OTF_Rg.otf') format('opentype');
}

body {
  font-family: 'LINESeedJP', sans-serif;
}

html {
  scroll-behavior: smooth;
}
