@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINESeedJP';
  src: url('../font/MochiyPopOne-OTF-ExtraBold.otf') format('opentype');
}

body {
  font-family: 'LINESeedJP', sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}
